:host {
    @apply(--layout-fit);
    @apply(--layout-vertical);

    padding: 0px;
}

[row] {
    @apply(--layout-horizontal);
    height: 50px;
    padding: 10px;
    background: #262626;
}

[row][end] {
    @apply(--layout-horizontal);
    @apply(--layout-end-justified);
}

[flex-1] {
    @apply(--layout-flex);
    padding: 10px;
}

iron-selector {
    @apply(--layout-horizontal);
    @apply(--layout-wrap);
}

.btn-group {
    @apply(--layout-horizontal);
    margin-left: 50px;
}

.btn-group editor-button {
    margin-left: 5px;
}

input {
    height: 30px;
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
    border-top: 1px solid #666;
    border-left: 0px solid #666;
    background: #333333;
    color: #808080;
}

h2 {
    margin: 0px 0px 0px 5px;
}

.template-list {
}

.template {
    width: 180px;
    height: 200px;
    border: 1px solid #666;
    box-sizing: border-box;

    background: #444;
    cursor: pointer;
}

.template:hover {
    border: 1px solid #999;
}

.template.selected {
    border: 1px solid #ed7461;
}
