:host {
    @apply(--layout-fit);
    @apply(--layout-vertical);

}

[row] {
    @apply(--layout-horizontal);

    background: #262626;
    padding: 10px;
    height: 50px;
}

[row][end] {
    @apply(--layout-horizontal);
    @apply(--layout-end-justified);
}

[flex-1] {
    @apply(--layout-flex);
}

iron-selector {
    @apply(--layout-horizontal);
    @apply(--layout-wrap);
}

.runtime-list {
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
    padding: 10px;
}

.runtime {
    width: 180px;
    height: 200px;
    border: 1px solid #666;
    box-sizing: border-box;
    margin-right: 10px;

    background: #4d4d4d;
    cursor: pointer;
}

.runtime:hover {
    border: 1px solid #999;
}

.runtime.selected {
    border: 1px solid #ed7461;
}

.banner {
    width: 100%;
    height: 100px;
}

.name {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 5px;
    font-weight:bold;
}

.version {
    color: #888;
    margin-left: 5px;
    font-weight: bold;
    margin-top: 0px;

}

editor-button {
    text-align: center;
    padding-top: 20px;

}
