:host {
    @apply(--layout-fit);
    @apply(--layout-vertical);

    cursor: default;
}

#shell {
    position: relative;
}

#view {
    @apply(--layout-flex);

    position: relative;
}

#status {
    padding: 5px;
    height: 20px;
    border-top: 1px solid #555;
}

#status.error {
    color: red;
}

#status.warn {
    color: yellow;
}

#status.normal {
    color: gray;
}
