:host {
    @apply(--layout-fit);
    background: #262626;

}

[flex-1] {
    @apply(--layout-flex);
}

.project {
    @apply(--layout-vertical);
    @apply(--layout-self-stretch);

    position: relative;
    padding: 10px 10px 10px 20px;

    background: #333;
    border-bottom: 1px solid #666;
}

.name {
    font-size: 18px;
    font-weight: bold;
    color: #fafafa;
}

.name.error {
    color: red;
}

.info {
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 12px;
    color: red;
}

.path {
    font-size: 16px;
    color: #808080;
}

.logo {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
