:host {
    @apply(--layout-horizontal);
    @apply(--layout-center);

    background: #333333;
    padding: 0px 10px;
    height: 39px;
    min-height: 30px;
    border-bottom: 1px solid #666666;
    border-right: 0px solid #666666;
    border-left: 0px solid #666666;
}

[flex-1] {
    @apply(--layout-flex);
}

.title {
    color: #ed7461;
    font-size: 18px;
}

input {
    width: 290px;
    height: 30px;
    background-color: #262626;
    border: 1px solid #666;
    padding-left: 5px;
    color: #808080;
}

img {
    box-sizing: border-box;
    height: 30px;
    border: 1px solid #666;
    margin-left: 10px;
}
